.main {
	width: min(100%, 768px);
	background-color: #282828;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	display: flex;
}

.profile {
	width: min(100%, 768px);
	
	padding: .5rem;
	background-color: #282828;
	border-radius: 1rem;
	gap: .5rem;

	& img {
		width: 64px;
		border-radius: .5rem;
	}
}

.profile .menu {
	float: right;
	font-size: 2rem;
	line-height: 1;
	border-radius: .5rem;
}

.info {
	display: inline-block;
}

.main .tree {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	& img {
		width: 70%;
	}
}

.buttons {
	width: min(100%, 768px);
	display: flex;
	justify-content: space-between;

	padding: .5rem;
	background-color: #282828;
	border-radius: 1rem;
	gap: .5rem;

	& a {
		padding: .5rem 1rem;
		background-color: #101010;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 100%;

		&:first-child {
			border-radius: .5rem 0 0 .5rem;
		}
		&:last-child {
			border-radius: 0 .5rem .5rem 0;
		}
	}
}